{
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": "2017"
    },
    "env": {
        "browser": true,
        "node": true
    },

    "globals": {
        "window": true,
        "Worker": true,
        "postMessage": true,
        "onmessage": true,
        "setInterval": true,
        "clearInterval": true,
        "alert": true,
        "document": true,
        "fetch": true,
        "navigator": true,
        "XMLHttpRequest": true,
        "HTMLElement": true,
        "FileReader": true,
        "clearTimeout": true,
        "setTimeout": true,
        "DOMParser": true,
        "XSLTProcessor": true,
        "performance": true,
        "crypto": true,
        "console": true,
        "expect": true,
        "Promise": true,
        "async": true,
        "it": true,
        "xit": true,
        "describe": true,
        "jasmine": true,
        "spyOn": true,
        "afterAll": true,
        "beforeAll": true,
        "afterEach": true,
        "beforeEach": true,
        "requestAnimationFrame": true
    },

    "rules": {
        "no-bitwise": 1,
        "camelcase": 1,
        "curly": 1,
        "eqeqeq": 2,
        "guard-for-in": 0,
        "no-extend-native": 0,
        "wrap-iife": 1,
        "indent": 2,
        "no-undef": 2,
        "new-cap": 1,
        "no-caller": 1,
        "no-empty": 1,
        "no-irregular-whitespace": 1,
        "no-new": 1,
        "no-plusplus": 0,
        "no-unused-vars": 1,
        "strict": 0,
        "comma-dangle": 1,
        "no-trailing-spaces": 0,
        "max-params": [ 1, {
            "max": 10
        } ],
        "max-depth": 1,
        "max-statements": [ 1, {
            "max": 25
        } ],
        "complexity": 1,
        "max-len": 0,

        "semi": 2,
        "no-cond-assign": 0,
        "no-debugger": 0,
        "no-eq-null": 1,
        "no-eval": 1,
        "quotes": 0,
        "no-underscore-dangle": 0,
        "dot-notation": 0,

        "space-unary-ops": 0
    }
}
