<!DOCTYPE HTML>
<html>

<head>
    <title>PI Camera</title>
    <style type="text/css">
        body {
            background-color: black;
            color: white;
            font-size: 1em;
        }

        #center-aligner {
            width: 100%;
        }

        #videoDisplay, #player {
            display: block;
            margin: 0 auto;
            border: 2px white solid;
        }

        #server-messages,
        #server-info,
        #previewOptions,
        div.content-container {
            width: 900px;
            margin: 0 auto;
        }

        .full-width {
            display: block;
            margin: 0 auto;
        }
        .caution {
            background: red;
            color: white;
        }
        .flex-container {
            display: flex;
        }
        .flex-container > div {
            margin: 10px;
            padding: 20px;
        }
    </style>
</head>

<body>
    <div id="center-aligner">
        <canvas id="player" style="background: #000;" width="640px" height="480px;">
          Your browser sucks.
        </canvas>
        <br>
        <div id="server-messages"></div>
        <br>
        <div id="previewOptions"></div>
        <br>
        <div id="server-info" style="background: #000;color: white; " ></div>
        <br>
        <br>
        <fieldset class="full-width" style="width: 650px; height:325px">
            <form name="mainForm" onsubmit="return false;">
                <br>
                <div class="flex-container">
                    <div id="image-files"></div>
                    <div id="platesolved-files"></div>
                </div>
                <br>
                <button type="submit" id="listCaptures">
                    List Captures
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="submit" id="viewImageOrVideo">
                    View Image
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <br><br>
                <input type="text" name="new-name">
                <button type="submit" id="renameFile">
                    Rename File
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="submit" id="deleteFile" class="caution">
                    Delete File
                </button>
                <br><br>
                <button type="submit" id="startPreview">
                    Start Preview
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="submit" id="stopPreview">
                    Stop Preview
                </button>
                <br><br>
                <label>Profile:</label>
                <select name="profiles">
                    <option></option>
                    [[PROFILE_OPTIONS]]
                </select>
                <button type="submit" id="useProfile">
                    Set Profile
                </button>
            </form>
        </fieldset>
        <div class="content-container">
            <fieldset style="width: 400px; min-height: 650px; float: left;">
                <legend>Streaming options</legend>
                <form name="videoOptions" onsubmit="return false;">
                    [[VIDEO_FORM]]
                    <br><br>
                    <button type="submit" id="updateButton">
                        Run Video Stream w/ Options
                    </button>
                    <br><br>
                </form>
                <form name="videoRecord" onsubmit="return false;">
                    <select name="recordingTime">
                        <option value="-t 30000">30 seconds</option>
                        <option value="-t 60000" selected>60 seconds</option>
                        <option value="-t 120000">2 minutes</option>
                        <option value="-t 300000">5 minutes</option>
                        <option value="-t 600000">10 minutes</option>
                        <option value="-t 900000">15 minutes</option>
                        <option value="-t 1800000">30 minutes</option>
                        <option value="-t 3600000">1 hour</option>
                    </select>
                    <br>
                    <button type="submit" id="saveStream">
                        Capture mjpeg
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="submit" id="saveRawStream">
                        Capture H264
                    </button>
                </form>
            </fieldset>
            <fieldset style="width: 400px; min-height: 650px; float: left;">
                <legend>Image options</legend>
                <form name="imageOptions" onsubmit="return false;">
                    [[IMAGE_FORM]]
                    <br><br>
                    <button type="submit" id="imageUpdate">
                        Run Image Stream w/ Options
                    </button>
                    <br><br>
                </form>
                <form name="saveImages" onsubmit="return false;">
                    <label>How many images: </label>
                    <select name="imagecount">
                        <option value="1" selected>1</option>
                        <option value="5">5</option>
                        <option value="15">15</option>
                        <option value="30">30</option>
                        <option value="60">60</option>
                        <option value="300">300</option>
                    </select>
                    <br>
                    <button type="submit" id="imageCapture">
                        Capture Images
                    </button>
                </form>
            </fieldset>
        </div>
        <br clear="both">
        <fieldset class="full-width" style="width: 480px; height:80px">
            <form name="shutdown" onsubmit="return false;">
                <button type="submit" id="shutdownButton">
                    Shutdown
                </button>
            </form>
        </fieldset>
    </div>
</body>
<script>
    window.xUuid = '[[PAGE_UUID]]';
    window.player;
</script>
<script src="/js/sockImage.js" type="module"></script>
<script type="module" src="/js/mjpegCapture.js"></script>
<script src="/js/captureClient.js" type="module"></script>

</html>
