<!DOCTYPE HTML>
<html>

<head>
    <title>PI Camera</title>
    <style type="text/css">
        body {
            background-color: black;
            color: white;
            font-size: 1em;
        }

        #center-aligner {
            width: 100%;
        }

        #videoDisplay {
            display: block;
            margin: 0 auto;
            border: 2px white solid;
        }

        #server-messages,
        #previewOptions,
        div.content-container {
            width: 900px;
            margin: 0 auto;
        }

        .full-width {
            display: block;
            margin: 0 auto;
        }
        .caution {
            background: red;
            color: white;
        }
    </style>
</head>

<body>
    <div id="center-aligner">
        <iframe id="videoDisplay" width="640" height="480" src="/preview?x-uuid=[[PAGE_UUID]]"></iframe>
        <!--<canvas id="player" style="background: #000;" width="640px" height="480px">
          Your browser sucks.
        </canvas>-->
        <br>
        <div id="server-messages"></div>
        <br>
        <div id="previewOptions"></div>
        <br>
        <br>
        <fieldset class="full-width" style="width: 480px; height:250px">
            <form name="mainForm" onsubmit="return false;">
                <br>
                <div id="image-files"></div>
                <br>
                <button type="submit" id="listCaptures">
                    List Captures
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="submit" id="viewImageOrVideo">
                    View
                </button>
                <br><br>
                <input type="text" name="new-name">
                <button type="submit" id="renameFile">
                    Rename File
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="submit" id="deleteFile" class="caution">
                    Delete File
                </button>
                <br><br>
                <button type="submit" id="startPreview">
                    Start Preview
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="submit" id="stopPreview">
                    Stop Preview
                </button>
            </form>
        </fieldset>
        <div class="content-container">
            <fieldset style="width: 400px; min-height: 650px; float: left;">
                <legend>Streaming options</legend>
                <form name="videoOptions" onsubmit="return false;">
                    [[VIDEO_FORM]]
                    <br><br>
                    <button type="submit" id="updateButton">
                        Run Video Stream w/ Options
                    </button>
                    <br><br>
                    <button type="submit" id="saveStream">
                        Capture mjpeg
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="submit" id="saveRawStream">
                        Capture H264
                    </button>
                </form>
            </fieldset>
            <fieldset style="width: 400px; min-height: 650px; float: left;">
                <legend>Image options</legend>
                <form name="imageOptions" onsubmit="return false;">
                    [[IMAGE_FORM]]
                    <br><br>
                    <button type="submit" id="imageUpdate">
                        Run Image Stream w/ Options
                    </button>
                    <br><br>
                    <button type="submit" id="imageCapture">
                        Capture Images
                    </button>
                </form>
            </fieldset>
        </div>
        <br clear="both">
        <fieldset class="full-width" style="width: 480px; height:80px">
            <form name="shutdown" onsubmit="return false;">
                <button type="submit" id="shutdownButton">
                    Shutdown
                </button>
            </form>
        </fieldset>
    </div>
</body>
<script>const xUuid = '[[PAGE_UUID]]';</script>
<script src="/js/mjpeg.js"></script>
<script src="/js/captureClient.js" type="module"></script>

</html>
