<!DOCTYPE HTML>
<html>

<head>
    <title>Image Capture</title>

</head>
<body>

    <img id="image-display-2">
    <script src="/js/socket.io.min.js"></script>

    <script type="text/javascript">
        if (typeof window.WebSocket !== 'undefined') {
            const options = [
                '--gain',
                '16',
                '--ev',
                '1.0',
                '--width',
                800,
                '--height',
                600
            ];

            let fetchNextImageTime = 1000;
            const host = window.location.host;
            const socket = new io();
            socket.on('connected', msg => {
                console.log(msg.message);
                setTimeout(() => {
                    socket.emit('get-image', {
                        options: options
                    });
                }, fetchNextImageTime);
            });
            socket.on('view-image', msg => {
                console.log(msg.message);
                if (msg.status === 'success') {
                    fetchNextImageTime = (((msg.perf[0] * 1e6) + msg.perf[1]) / 1e6) * 1000;
                    console.log('Fetch time ', fetchNextImageTime);
                    try {
                        const image = document.getElementById('image-display-2');
                        image.src = `data:image/png;base64,${msg.img}`;
                    } catch (e) {
                        console.log(new Date(), ' error: ', e);
                    }
                }
            });
        }
    </script>

</body>
</html>
