<div> Current state: {{currentState}} </div>
<div>
    <form action="/update" method="post">
    <input type="text" name="changeModeKey" maxlength="50" size="50">
    <button type="submit">
        {{#if currentState}} 
            Disable   
        {{else}}
            Enable   
        {{/if}}
    </button>
    </form>
</div>

