<div> Current state: {{currentState}} </div>
<div>
    <form action="/update" method="post">
    <input type="text" name="changeModeKey" maxlength="50" size="50">
    <button type="submit">
        {{nextState}}
    </button>
    </form>
</div>

