<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Player</title>
  </head>
  <body>
    <canvas id="player" style="background: #000;" width="640px" height="480px">
      Your browser sucks.
    </canvas>
    <canvas id="new-player" style="background: #000;" width="640px" height="480px">
      Your browser sucks.
    </canvas>
    <img id="stream-image">
  </body>
  <script src="/js/socket.io.js"></script>
  <script src="/js/sockImage.js"></script>
  <script type="module">
    import {
        stopPreview
    } as formUtils from '/js/libs/formUtils.js';
    import {
        MJPEGPlayer,
        MJPEGStream
    } from '/js/mjpeg/index.js';
    let player;
    window.addEventListener('DOMContentLoaded', () => {

        fetch('/config').then(async resp => {
            const headers = await resp.headers;
            const uuid = headers.get('x-uuid');

            const options = {
                errorHandler: (err) => {
                    player.stream = new MJPEGStream(player.options);
                    player.start();
                },
                refreshRate: 250,
                onStop: stopPreview
            };
            //Leave your .mjpeg video URL here.
            player = new MJPEGPlayer('player', `/preview?x-uuid=${uuid}`, options);
            player.start();
        });
    });
  </script>
</html>
