<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Player</title>
  </head>
  <body>
    <canvas id="player" style="background: #000;" width="640px" height="480px">
      Your browser sucks.
    </canvas>
    <canvas id="new-player" style="background: #000;" width="640px" height="480px">
      Your browser sucks.
    </canvas>
    <img id="stream-image">
  </body>
  <script src="/js/socket.io.js"></script>
  <script src="/js/sockImage.js"></script>
  <script src="/js/mjpeg.js"></script>
  <script>
    //Leave your .mjpeg video URL here.
    var player = new MJPEGPlayer("player", "/preview", {
        errorHandler: (err) => {
            player.stream = new MJPEGStream(player.options);
        },
        refreshRate: 250
    });
    player.start();
  </script>
</html>
